


<main>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        
        <h2>Ready to devour!</h2>

        {{#each burger}}
          {{#unless this.devoured}}

          <p>{{this.id}}.{{this.burger_name}}</p>
          <form action="/burgers/{{this.id}}" method="POST">
          <input type="hidden" name="_method" value="put">
          {{!-- <form>
              <input type="hidden" class="burger_id" value={{this.id}}>  --}}
          <button type="submit" value={{this.id}}>Devour it!</button>
          </form>
        
          {{/unless}}
        {{/each}}
      </div>

      <div class="col-sm">
          <h2>Add A Burger</h2>
        <form action="/burgers/create" method="POST">
        <input type="text" id="name" name="burger_name" placeholder="Uber Delicious Burger">
        <button type="submit" class="addBurger">{{this.id}}.{{this.burger_name}}.{{this.devoured}}Add The Burger</button><br><br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM-64Fwomj0zm8HSiUZwDRBlUEfA8Nehw6AcK0fVQ9wCQoQhH4ig" width="200px" height="200px">
        </form>
        
    <br>
    <br>
    <div class="col-sm">
        <h2>Already Eaten:</h2>
        {{#each burger}}
            {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
              <p>{{this.id}}. {{this.burger_name}}</p>
              </div>
            </div>
            {{/if}}
        {{/each}}
    </div>
</main>
{{!-- <script>
     $("form").on("submit", function(event) {
    event.preventDefault();

    var burger_id = $(this).children(".burger_id").val();
    console.log(burger_id);
    $.ajax({
      method: "PUT",
      url: "/burgers/" + burger_id
    }).then(function(data) {
      // reload page to display devoured burger in proper column
      location.reload();
    });

  });
</script> --}}